body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.taskPart{
  display: inline-block;
}
#greet{
  text-align: center;
  font-family: "Arial Black";
  font-size: 19px;
}